@charset "utf-8";
body{
    background: rgb(250, 250, 250);
}
.main{
    height: 100%;
}
.header{
    height: 64px;
    overflow: hidden;
}
.trigger{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.logo{
    padding: 14px  0px 10px 0px;
    margin-right: 20px;
}
.logo img{
    display: block;
    margin: 0px auto;
}
.main-left{
    overflow: hidden;
    background: #ffffff;
}
.nav-icon{
    font-size: 20px;
}
.nav-text{
    font-size: 18px;
}

.nav-label{
    line-height: 60px!important;
    height: 60px!important;
    border-bottom: 1px solid #ececec;
}
.ant-menu-submenu-title{
    line-height: 60px!important;
    height: 60px!important;
}
.ant-menu{
}
.nav-sub{
    border-bottom: 1px solid #ececec;
    padding-left: 0px;
}
.nav-sub.last{
    border-bottom: none;
}
.nav-sub .ant-menu-item-group-title{
   padding-left: 24px;
    height: 60px;
    line-height: 60px;
}
.position{
    margin-left: 16px;
    line-height: 40px;
    height: 40px;
}
.second-nav{
    font-size: 18px;
}
.infor-container{
    padding: 20px;
}
.infor-label{
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    text-align: right;
    color: #000;
}
.infor-name{
    height: 40px;
    padding-left: 16px;
    line-height: 40px;
    color: #000;
    font-size: 16px;
}
.ant-form-item-label label{
    font-size: 16px;
    color: #333;
}
.ant-form-item-control input{
    font-size: 16px;
    color: #000;
    height: 40px;
    line-height: 40px;
}
.infor-row{
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
div.ant-form-item-label{
    height: 40px;
    line-height: 40px;
}
div.ant-form-item-label label{
    color: #000000;
}
.shop-photo-container{
    overflow: hidden;
    text-align: center;
}
.shop-uploader-picture{
    height: 202px;
    width: 402px;
    text-align: center;
    border: 1px solid #ececec;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.shop-picture{
    width: 400px;
    height: 200px;
    display: block;
}
.shop-uploader-picture:hover:hover .shop-uploader-tips{
    display: block;
}
.shop-uploader-tips{
    background: rgba(0,0,0,.05);
    width: 400px;
    height: 200px;
    font-size: 46px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.shop-uploader{
    display: block;
}

.infor-upload-row .ant-form-item-label{
    height: 150px;
    line-height: 150px;
}
.ant-form-item-control-wrapper{
    margin-left: 10px;
}
.infor-row .ant-form-item-control  textarea{
    height: 150px;
}
.infor-container{
    padding-bottom: 30px;
}
.infor-submit{
    margin-left: 10px;
}
.nav-text{
    color: #333!important;
}
.ant-menu-item :hover .nav-text{
    color: #108ee9!important;
}
.nav-sub .nav-icon{
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.65098);
    vertical-align: -1px;
}
.nav-sub .second-nav{
    padding-left: 34px!important;
}
.nav-sub .second-nav-shop{
    padding-left: 56px!important;
}
.ant-radio-wrapper{
    color: #000000;
    vertical-align: -3px;
    font-size: 16px;
}
ul.ant-table-pagination{
    float: left;
}
.push-btn{
    float: right;
}
.push-title{
    text-align: right;
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    height: 40px;
}
.push-row{
    margin-bottom: 25px;
}
.push-upload{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    display: block;
    border: 1px solid #d9d9d9;
    font-size: 40px;
}
.push-upload .ant-upload{
    font-size: 40px;
    display: block;
    color: #999999;
}
.push-row .ant-input{
    font-size: 14px;
    color: #333333;
    line-height: 40px;
    height: 40px;
}
.push-row textarea.ant-input{
    height: 200px;
    overflow: hidden;
    resize: none;
    width:100%;
}
.push-row .ant-select-selection{
    height: 34px;
    margin: 3px 0px;
    line-height: 34px;
}
.push-row .ant-select-selection__rendered{
    line-height: 34px;
}
#editor{
    height: 400px;
}
.phone-layer-content{
    background: url("../images/phone-bg.jpg") no-repeat center center;
    width: 320px;
    height: 587px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -293px;
    background-size: 100% 100%;
    border-radius: 30px;
}
.phone-layer{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99;
}
.preview-content{
    width: 300px;
    height: 425px;
    margin: 95px auto;
    overflow: auto;
}
.preview-title{
    line-height: 1.6;
    font-size: 24px;
    font-weight: normal;
    color: #333;
    margin-bottom: 10px;
}
.preview-source{
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    color: #607fa6;
    margin-bottom: 8px;
}
.preview-header{
    border-bottom: 1px solid #e5e5e5;
}
.preview-editor{
    padding: 10px;
}
.phone-layer-close{
    font-size: 18px;
    color: #ffffff;
}
.phone-layer-close{
    position: absolute;
    right: -56px;
    top: 0px;
    cursor: pointer;
}
.push-btn .anticon{
    margin-right: 6px;
}
.details-container{
    margin: 20px;
}
.details-title{
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    padding: 5px;
    font-weight: normal;
}
.details-source{
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 20px;
    margin: 10px auto 20px;
}
.details-source span{
    margin-right: 10px;
}
.details-scroll{
    padding: 40px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 20px 0px;

}
.details-content{
    font-size: 16px;
    height: 400px;
    overflow: auto;
}
.details-rows{
    text-align: center;
    margin: 30px auto;
}
.details-rows button{
    margin: 0px 8px;
}
.publish-container{
    margin: 20px 20px;
}
.ant-menu-inline, .ant-menu-vertical{
    border-right: none!important;
}
.ant-table-thead>tr>th{
    text-align: center;
}
.steps-action{
    margin-top: 40px;
}

/**/
.basic-photo{
    height: 120px;
    width: 120px;
    margin: 0px auto;
    border-radius: 60px;
    overflow: hidden;
    border: 1px solid #efefef;
}
.basic-photo img{
    display: block;
}
.basic-infor{
    line-height: 60px;
    font-size: 16px;
    color: #333333;
    text-align: center;
    height: 60px;
    padding-bottom: 10px;
}
.basic-infor span{
    margin-right: 20px;
    font-size: 18px;
}
.basic-infor-form{
    margin-top: 20px;
}
.infor-row-submit{
    text-align: center;
    margin-top: 30px;
}
.change-phone-btn{
    margin-left: 15px;
}
.safe-center{
    padding: 40px 0px;
}
.safe-center-panel p{
    height: 100px;
    line-height: 100px;
    font-size: 14px;
    float: left;
    text-align: center;
}
.safe-center-panel{
    overflow: hidden;
    border: 1px solid #ececec;
    background: #ffffff;
}
.safe-center-panel p.name{
    width: 157px;
    font-size: 22px;
    color: #333333;
}
.safe-center-panel p.tips{
    width: 500px;
    color: #666666;
}
.safe-center-panel p.tips span{
    color: #000;
    margin-left: 5px;
    margin-right: 15px;
    font-size: 16px;
}
.safe-center-panel p.btn{
    width: 100px;
}
.safe-center-panel p.btn{
    color: #005ea7;
    cursor: pointer;
}
.safe-center-content{
    height: 325px;
    padding: 40px;
    border: 1px solid #ececec;
    border-top: none;
    background: #ffffff;
}
.safe-content-steps{
    margin: 10px 180px;
}
.steps-action{
    text-align: center;
}
.steps-content{
    padding-top: 20px;
}

/*店铺新样式*/
.shop-photo-container{
    margin-bottom: 25px;
}
.infor-show-content{
    text-align: center;
    position: relative;
}
.infor-show-content:hover{
    background: #fefef2;
}
.shop-name{
    line-height: 40px;
    height: 40px;
    font-size: 22px;
    color: #333333;
}
.shop-editor{
    font-size: 14px;
    color: #00b38a;
    position: absolute;
    height: 30px;
    line-height: 30px;
    top: 5px;
    right: 6px;
    cursor: pointer;
    display: none;
    padding: 0px 10px;
    border-radius: 3px;
}
.infor-show-content:hover .shop-editor{
    display: block;
}
.shop-editor .icon{
    margin-right: 6px;
}
.shop-name-input .shop-editor{
    display: block;
}
.shop-name-input{
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.shop-name-input input{
    height: 40px;
    line-height: 40px;
    width: 300px;
    border: 1px solid #ececec;
    font-size: 22px;
    text-align: center;
    border-radius: 0px;
    color: #333333;
}
.shop-editor.save{
    right: 60px;
    background:#00b38a;
    color: #ffffff;
}
.shop-level{
    font-size: 14px;
    text-align: center;
    color: #333333;
    padding: 10px 0px 20px;
    line-height: 30px;
    height: 60px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
}
.shop-level span{
    margin-left: 28px;
}
.shop-basic-row{
    line-height: 30px;
    height: 30px;
    color: #333333;
    font-size: 14px;
    text-align: center;
}
.shop-basic-row span{
    margin: 0px 14px;
}
.shop-basic-container{
    position: relative;
}
.shop-basic-container:hover{
    background: #fefef2;
}
.shop-basic-container:hover .shop-editor{
    display: block;
}
.shop-basic-from{
    background: #fefef2;
    padding: 40px 80px;
}
.shop-checkbox{
    line-height: 40px;
    height: 40px;
}
.shop-uploader-code{
    width: 152px;
    height: 152px;
    cursor: pointer;
}
.shop-uploader-code img{
    display: block;
    border: 1px solid #ececec;
}
.uploader-code-trigger{
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 1px solid #ececec;
    font-size: 34px;
}
.shop-introduce-title{
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #333333;
    margin: 10px  0px;
    padding: 0px 12px;
}
.shop-introduce{
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 40px;
    padding: 0px 12px;
}
.shop-introduce-btn{
    padding: 0px 12px;
    margin: 10px 0px;
}
.shop-introduce-editor{
    text-align: center;
}
.shop-introduce-editor .ant-btn:hover,.shop-introduce-editor .ant-btn:focus{
    color: #00b38a;
    border: 1px solid #00b38a;
}
.shop-introduce-input textarea{
    height: 320px!important;
    padding: 12px;
    line-height: 24px;
    font-size: 14px;
    color: #333333;
    resize: none;
}
/*活动详情*/
.activity-photo img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0px auto;
}
.activity-title{
    margin-top: 35px;
    line-height: 32px;
    height: 32px;
    font-size: 22px;
    color: #333333;
    text-align: center;
}
.activity-source p{
    line-height: 34px;
    font-size: 16px;
    text-align: center;
    color: #333333;
}
.activity-source{
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}
.activity-source p span{
    margin-left: 32px;
}
.activity-content{
    margin: 20px 40px;
    min-height: 500px;
}
.activity-btn-container{
    text-align: center;
}
.activity-btn{
    width: 100px;
    height: 30px;
    border: 1px solid #ececec;
    font-size: 14px;
    color: #333333;
    text-align: center;
    display:inline-block;
    border-radius: 5px;
    line-height: 30px;
}
.activity-btn .anticon{
    margin-right: 10px;
}
.shop-type{
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}
.activity-table .ant-table-thead > tr > th,.activity-table td{
    text-align: center;
}
.activity-table th.ant-table-selection-column,.activity-table td.ant-table-selection-column{
    width: 22px!important;
    min-width: 22px!important;
}
.activity-table td.title{
    text-align: left;
}