@charset "utf-8";
.main{
    height: 100%;
}
.header{
    height: 64px;
    overflow: hidden;
}
.trigger{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.logo{
    border-bottom: 1px solid #ececec;
    padding: 14px  0px 10px 0px;
    border-right: 1px solid #ececec ;
}
.logo img{
    display: block;
    margin: 0px auto;
}
.main-left{
    overflow: hidden;
    background: #ffffff;
}
.nav{
    padding-top: 24px;
}
.nav-icon{
    font-size: 22px;
}
.nav-text{
    font-size: 18px;
}

.nav-label{
    line-height: 60px!important;
    height: 60px!important;
    border-top: 1px solid #ececec;
}
.ant-menu-submenu-title{
    line-height: 60px!important;
    height: 60px!important;
}
.nav-sub{
    border-top: 1px solid #ececec;

}
.position{
    margin-left: 16px;
    line-height: 40px;
    height: 40px;
}
.second-nav{
    font-size: 18px;
}
.infor-container{
    margin: 100px 100px 0px 100px;
}
.wx-label{
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    text-align: right;
    color: #333;
}
.wx-name{
    height: 40px;
    padding-left: 16px;
    line-height: 40px;
    color: #000;
    font-size: 16px;
}
.ant-form-item-label label{
    font-size: 16px;
    color: #333;
}
.ant-form-item-control input{
    font-size: 16px;
    color: #000;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
}
.infor-row{
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
div.ant-form-item-label{
    height: 40px;
    line-height: 40px;
}
div.ant-form-item-label label{
    color: #000000;
}