@charset "utf-8";
body{
    background: rgb(250, 250, 250);
}
.main{
    height: 100%;
}
.header{
    height: 64px;
    overflow: hidden;
}
.trigger{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.logo{
    padding: 14px  0px 10px 0px;
    margin-right: 20px;
}
.logo img{
    display: block;
    margin: 0px auto;
}
.main-left{
    overflow: hidden;
    background: #ffffff;
}
.nav{
    padding-top: 40px;
}
.nav-icon{
    font-size: 22px;
}
.nav-text{
    font-size: 18px;
}

.nav-label{
    line-height: 60px!important;
    height: 60px!important;
    border-bottom: 1px solid #ececec;
}
.ant-menu-submenu-title{
    line-height: 60px!important;
    height: 60px!important;
}
.nav-sub{
    border-bootom: 1px solid #ececec;
    padding-left: 0px;
}
.nav-sub .ant-menu-item-group-title{
   padding-left: 24px;
    height: 60px;
    line-height: 60px;
}
.position{
    margin-left: 16px;
    line-height: 40px;
    height: 40px;
}
.second-nav{
    font-size: 18px;
}
.infor-container{
    margin: 50px 0px;
}
.wx-label{
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    text-align: right;
    color: #000;
}
.wx-name{
    height: 40px;
    padding-left: 16px;
    line-height: 40px;
    color: #000;
    font-size: 16px;
}
.ant-form-item-label label{
    font-size: 16px;
    color: #333;
}
.ant-form-item-control input{
    font-size: 16px;
    color: #000;
    height: 40px;
    line-height: 40px;
}
.infor-row{
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
div.ant-form-item-label{
    height: 40px;
    line-height: 40px;
}
div.ant-form-item-label label{
    color: #000000;
}

.shop-uploader-trigger,
.shop-img{
    width: 150px;
    height: 150px;
    margin: 0px auto;
}
.shop-uploader{
    height: 170px;
    width: 200px;
    text-align: center;
}
.upload-tips{
    line-height: 20px;
    font-size: 12px;
    color: #666666;
    white-space: normal;
}
.shop-img{
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}
.shop-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
}
.shop-uploader-tips{
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 0px;
    font-size: 20px;
    color: #333;
    text-align: center;
    display: none;
    cursor: pointer;
}
.shop-uploader{
    position: relative;
    display: block;
}
.shop-uploader:hover .shop-uploader-tips{
    display: block;
}
.infor-upload-row .ant-form-item-label{
    height: 150px;
    line-height: 150px;
}
.ant-form-item-control-wrapper{
    margin-left: 10px;
}
.infor-row .ant-form-item-control  textarea{
    height: 150px;
}
.infor-container{
    padding-bottom: 30px;
}
.infor-submit{
    margin-left: 10px;
}
.nav-text{
    color: #333!important;
}
.ant-menu-item :hover .nav-text{
    color: #108ee9!important;
}
.nav-sub .nav-icon{
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.65098);
}
.nav-sub .second-nav{
    padding-left: 34px!important;
}
.nav-sub .second-nav-shop{
    padding-left: 56px!important;
}
.ant-radio-wrapper{
    color: #000000;
    vertical-align: -3px;
    font-size: 16px;
}
ul.ant-table-pagination{
    float: left;
}
.push-btn{
    float: right;
}
.push-title{
    text-align: right;
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    height: 40px;
}
.push-row{
    margin-bottom: 25px;
}
.push-upload{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    display: block;
    border: 1px solid #d9d9d9;
    font-size: 40px;
}
.push-upload .ant-upload{
    font-size: 40px;
    display: block;
    color: #999999;
}
.push-row .ant-input{
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    height: 40px;
    width:80%;
}
.push-row textarea.ant-input{
    height: 200px;
    overflow: hidden;
    resize: none;
    width:100%;
}
.push-row .ant-select-selection{
    height: 34px;
    margin: 3px 0px;
    line-height: 34px;
}
.push-row .ant-select-selection__rendered{
    line-height: 34px;
}
#editor{
    height: 400px;
}
.phone-layer-content{
    background: url("../images/phone-bg.jpg") no-repeat center center;
    width: 320px;
    height: 587px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -293px;
    background-size: 100% 100%;
    border-radius: 30px;
}
.phone-layer{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99;
}
.preview-content{
    width: 300px;
    height: 425px;
    margin: 95px auto;
    overflow: auto;
}
.preview-title{
    line-height: 1.6;
    font-size: 24px;
    font-weight: normal;
    color: #333;
    margin-bottom: 10px;
}
.preview-source{
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    color: #607fa6;
    margin-bottom: 8px;
}
.preview-header{
    border-bottom: 1px solid #e5e5e5;
}
.preview-editor{
    padding: 10px;
}
.phone-layer-close{
    font-size: 18px;
    color: #ffffff;
}
.phone-layer-close{
    position: absolute;
    right: -56px;
    top: 0px;
    cursor: pointer;
}
.push-btn .anticon{
    margin-right: 6px;
}
.details-container{
    width: 800px;
    margin: 50px auto;
}
.details-title{
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    padding: 5px;
    font-weight: normal;
}
.details-source{
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 20px;
    margin: 10px auto 20px;
}
.details-source span{
    margin-right: 10px;
}
.details-scroll{
    padding: 40px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 20px 0px;

}
.details-content{
    font-size: 16px;
    height: 400px;
    overflow: auto;
}
.details-rows{
    text-align: center;
    margin: 30px auto;
}
.details-rows button{
    margin: 0px 8px;
}
.publish-container{
    margin: 40px 0px;
}
.ant-menu-inline, .ant-menu-vertical{
    border: none!important;
}
.ant-table-thead>tr>th{
    text-align: center;
}
.steps-action{
    margin-top: 40px;
}